.footer {
  font-size: $font-size-small;
  height: 9.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__p {
    text-align: center;
  }

  &__link {
    color: $color-black;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
