.header {
  height: 8rem;
  background: $color-white;
  position: relative;

  &__logo {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: $color-blue;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
  }
}
