.header {
  height: 5rem;
  background: $color-white;
  position: relative;
  display: flex;
  justify-content: space-between;

  @include if-screen(medium) {
    height: 8rem;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .1);
  }
}
