.nav-left {
  flex: 0 0 80%;

  @include if-screen(small) {
    flex-basis: 30rem;
  }

  &__list {
    display: flex;
  }

  &__item {
    flex: 0 0 25%;
    height: 6.4rem;
    display: flex;
    
    @include if-screen(medium) {
      height: 8rem;

      &:first-child {
        border-right: .1rem solid $color-grey-light;
      }
    }
  }

  &__link {
    width: 4rem;
    height: 4rem;
    margin: auto;
    display: block;
    border-radius: 100%;
    border: .1rem solid $color-grey-medium;
    background-size: cover;
    
    &_tweet {
      border: none;
      background-image: url(../img/tweet.png);
    }

    &_bell {
      background-image: url(../img/bell.png);
    }

    &_msg {
      background-image: url(../img/msg.png);
    }

    &_hash {
      background-image: url(../img/hash.png);
    }
  }
}
