.nav-right {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  @include if-screen(small) {
    flex-basis: 30rem;
    justify-content: space-between;
  }

  &__search {
    display: none;

    @include if-screen(small) {
      display: block;
      width: 20rem;
      height: 3rem;
      border: .1rem solid $color-grey-medium;
      border-radius: 3rem;
      flex-grow: 1;
      position: relative;
    }

    @include if-screen(medium) {
      height: 4rem;
      border-radius: 4rem;
    }
  }

  &__search-icon {
    width: 2.2rem;
    height: 2.2rem;
    background-image: url(../img/search.png);
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    right: .4rem;
    top: .3rem;

    @include if-screen(medium) {
      width: 3rem;
      height: 3rem;
      right: .5rem;
      top: .5rem;
    }
  }

  &__ava {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-image: url(../img/ava.png);
    background-size: cover;

    @include if-screen(small) {
      margin-left: 2rem;
      margin-right: 2.5rem;
    }
  }
}
