.tweet {
  font-size: 1.4rem;
  padding: 1.5rem;
  border-top: .1rem solid $color-grey-medium;

  @include if-screen(extrasmall) {
    font-size: 1.5rem;
    padding: 3rem;
  }

  &:first-child {
    border-top: none;
  }

  &__container {
    padding-left: 6rem;
  }

  &__links {
    height: 3rem;
    display: flex;
    justify-content: space-between;
  }

  &__link-user {
    position: relative;

    &_retweeted::before {
      display: inline-block;
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      background-size: cover;
      background-image: url(../img/retweeted.png);
      position: relative;
      top: .2rem;
      margin-right: .2rem;
    }
  }

  &__img {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: -6rem;
    top: 0;
    border-radius: 100%;
  }

  &__fullname {
    color: $color-black;
  }

  &__link-user:hover &__fullname {
    color: $color-blue;
    text-decoration: underline;
  }

  &__username {
    color: $color-grey-dark;
    display: none;

    @include if-screen(extrasmall) {
      display: inline;
    }
  }

  &__link-time {
    color: $color-grey-dark;

    &:hover {
      text-decoration: underline;
    }
  }

  &__content img {
    width: 100%;
  }
  &__actions {
    margin-top: 2rem;

    @include if-screen(extrasmall) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__actions-left {
    display: flex;
    justify-content: space-between;
  }

  &__actions-right {
    display: none;

    @include if-screen(extrasmall) {
      display: flex;
    }
  }

  &__action {
    margin-left: 3rem;
    height: 1.5rem;
    display: flex;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }
  }

  &__icon {
    display: inline-block;
    height: 1.5rem;
    background-size: cover;

    &_reply {
      width: 1.6rem;
      background-image: url(../img/action-reply.png);
    }

    &_fave {
      width: 1.5rem;
      background-image: url(../img/action-fave.png);
    }

    &_retweet {
      width: 1.5rem;
      background-image: url(../img/action-retweet.png);
    }

    &_more {
      width: 1.3rem;
      background-image: url(../img/action-more.png);
    }

    &_full {
      width: 1.4rem;
      background-image: url(../img/action-full.png);
    }
  }

  &__counter {
    color: $color-grey-dark;
    margin-left: .5rem;
  }

  &__action:hover &__counter {
    text-decoration: underline;
  }
}
