.record {
	display: flex;

	&:not(:last-child) {
		border-bottom: 0.1rem solid $color-grey-dark;
	}

	&__quantity,
	&__price,
	&__revenue {
		flex: 0 0 33.3333%;
		border-right: 0.1rem solid $color-grey-dark;
	}

	&__revenue {
		border-right: none;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__delete-link {
		font-size: 3rem;
		border-bottom: none;
		transform: rotate(45deg);
		color: $color-red;
	}
}
