.day {
  display: flex;
  border-bottom: .1rem solid $color-grey-dark;
  
	&__name {
	  flex: 0 0 25%;
	  border-right: .1rem solid $color-grey-dark;
	}
	
	&__records {
	  flex: 0 0 50%;
	  border-right: .1rem solid $color-grey-dark;
	}
	
	&__new-record {
		text-align: center;
	}
	
	&__new-record-link {
	  padding: .5rem 0;
	  border-bottom: none;
	  font-size: 3rem;
	}
	
	&__revenue {
	  flex: 0 0 25%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
}
