*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #f5cea6;
  color: #605e58;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  line-height: 1.45; }

::-webkit-input-placeholder {
  color: #c6c1b0; }

a {
  text-decoration: none; }

.container {
  background: #f2eee8;
  max-width: 150rem;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  @media (min-width: 1500px) {
    .container {
      margin: 9.5rem auto; } }

.header {
  height: 6.4rem;
  background: #fffbf5;
  position: relative;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 900px) {
    .header {
      height: 8rem;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1); } }

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (min-width: 900px) {
    .content {
      flex-wrap: nowrap;
      align-items: stretch; } }

.profile {
  width: 100%;
  background: #80a8cc;
  color: white;
  font-size: 1.7rem; }
  @media (min-width: 900px) {
    .profile {
      width: 30rem; } }
  .profile a {
    color: white; }
  .profile__info {
    text-align: center; }
  .profile__img {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 5.5rem 0 0;
    vertical-align: top; }
  .profile__name {
    line-height: 5rem;
    margin: 0;
    font-size: 1.8rem; }
  .profile__bio {
    padding: 0 15%;
    line-height: 1.6; }
    @media (min-width: 900px) {
      .profile__bio {
        font-size: 1.6rem;
        padding: 0 2.5rem; } }
  .profile__url {
    display: inline-block;
    margin: 2rem 0;
    position: relative; }
    .profile__url:hover {
      text-decoration: underline; }
    .profile__url::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: -2.2rem;
      top: .5rem;
      background-image: url(../img/url.png);
      background-size: cover; }
  .profile__btn {
    display: block;
    background: #6c94b8;
    max-width: 16rem;
    height: 4rem;
    border-radius: 4rem;
    line-height: 4rem;
    margin: 0 auto 4rem; }
  .profile__media {
    width: 30rem;
    height: 30rem;
    background-image: url(../img/media.jpg);
    background-size: cover;
    display: none; }
    @media (min-width: 900px) {
      .profile__media {
        display: block; } }
  .profile__activities {
    padding: 0 2.5rem;
    display: none; }
    @media (min-width: 900px) {
      .profile__activities {
        display: block; } }
  .profile__h2 {
    text-transform: uppercase;
    font-weight: inherit;
    font-size: 1.7rem;
    margin: 3rem 0 1rem;
    letter-spacing: .15rem; }
  .profile__activity-list {
    list-style: none;
    color: #6c94b8;
    margin-bottom: 5.5rem;
    font-size: 1.6rem; }
  .profile__activity-item {
    height: 3rem;
    line-height: 3rem;
    padding-left: 2.5rem;
    position: relative; }
    .profile__activity-item a {
      text-decoration: underline; }
    .profile__activity-item a:hover {
      text-decoration: none; }
    .profile__activity-item::before {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.5rem;
      position: absolute;
      left: 0;
      top: .7rem;
      background-size: cover; }
  .profile__activity-item-fol::before {
    background-image: url(../img/act-fol.png); }
  .profile__activity-item-rep::before {
    background-image: url(../img/act-rep.png); }
  .profile__activity-item-ret::before {
    background-image: url(../img/act-ret.png); }
  .profile__activity-item-fav::before {
    background-image: url(../img/act-fav.png); }

.main {
  width: 100%; }
  @media (min-width: 900px) {
    .main {
      width: auto;
      flex-grow: 1; } }

.extra {
  display: none; }
  @media (min-width: 1200px) {
    .extra {
      display: block;
      width: 30rem;
      background: #fffbf5; } }

.nav-left {
  flex: 0 0 80%; }
  @media (min-width: 700px) {
    .nav-left {
      flex-basis: 30rem; } }
  .nav-left__list {
    list-style: none;
    display: flex; }
  .nav-left__item {
    flex: 0 0 25%;
    height: 6.4rem;
    display: flex; }
    @media (min-width: 900px) {
      .nav-left__item {
        height: 8rem; }
        .nav-left__item:first-child {
          border-right: 0.1rem solid #f2eee8; } }
  .nav-left__link {
    width: 4rem;
    height: 4rem;
    margin: auto;
    display: block;
    border-radius: 100%;
    border: 0.1rem solid #e3dfd8;
    background-size: cover; }
    .nav-left__link_tweet {
      border: none;
      background-image: url(../img/tweet.png); }
    .nav-left__link_bell {
      background-image: url(../img/bell.png); }
    .nav-left__link_msg {
      background-image: url(../img/msg.png); }
    .nav-left__link_hash {
      background-image: url(../img/hash.png); }

.logo {
  display: none; }
  @media (min-width: 700px) {
    .logo {
      flex-grow: 1;
      display: flex; } }
  .logo__link {
    width: 3rem;
    height: 3rem;
    display: block;
    margin: auto;
    background-image: url(../img/logo.png);
    background-size: cover; }
    @media (min-width: 900px) {
      .logo__link {
        width: 4rem;
        height: 4rem; } }

.nav-right {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 700px) {
    .nav-right {
      flex-basis: 30rem;
      justify-content: space-between; } }
  .nav-right__search {
    width: 20rem;
    flex-grow: 1;
    display: none;
    position: relative; }
    @media (min-width: 700px) {
      .nav-right__search {
        display: block; } }
  .nav-right__search-input {
    width: 100%;
    height: 4rem;
    border-radius: 4rem;
    border: 0.1rem solid #e3dfd8;
    background: transparent;
    padding: 0 3.5rem 0 1.5rem;
    outline: none;
    font-size: 1.4rem;
    color: #605e58;
    transition: all .2s ease-in-out; }
    .nav-right__search-input:focus {
      border: 0.2rem solid #80a8cc; }
  .nav-right__search-btn {
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url(../img/search.png);
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    right: .6rem;
    top: .6rem; }
  .nav-right__ava {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-image: url(../img/ava.png);
    background-size: cover; }
    @media (min-width: 700px) {
      .nav-right__ava {
        margin-left: 2rem;
        margin-right: 2.5rem; } }
