*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background: #f5cea6;
  color: #605e58;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.45;
  letter-spacing: .05rem; }

::-webkit-input-placeholder {
  color: #c6c1b0; }

a {
  color: #80a8cc;
  text-decoration: none; }

ul {
  list-style: none; }

img {
  vertical-align: top; }

.container {
  background: #f2eee8;
  max-width: 150rem;
  margin: 0 auto;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  @media (min-width: 1500px) {
    .container {
      margin: 9.5rem auto; } }

.header {
  height: 6.4rem;
  background: #fffbf5;
  position: relative;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 900px) {
    .header {
      height: 8rem;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1); } }

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media (min-width: 900px) {
    .content {
      flex-wrap: nowrap;
      align-items: stretch; } }

.profile {
  width: 100%;
  background: #80a8cc;
  color: white; }
  @media (min-width: 900px) {
    .profile {
      width: 30rem; } }
  .profile a {
    color: white; }
  .profile__info {
    text-align: center; }
  .profile__img {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    margin: 5.5rem 0 0; }
  .profile__name {
    font-size: 1.6rem;
    line-height: 4rem;
    margin: 0;
    font-weight: 500; }
  .profile__bio {
    padding: 0 15%; }
    @media (min-width: 900px) {
      .profile__bio {
        padding: 0 2.5rem; } }
  .profile__url {
    display: inline-block;
    margin: 2rem 0;
    position: relative; }
    .profile__url:hover {
      text-decoration: underline; }
    .profile__url::before {
      content: '';
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: -2.2rem;
      top: .5rem;
      background-image: url(../img/url.png);
      background-size: cover; }
  .profile__btn {
    display: block;
    background: #6c94b8;
    max-width: 16rem;
    height: 4rem;
    border-radius: 4rem;
    line-height: 4rem;
    margin: 0 auto 4rem; }
  .profile__media {
    width: 30rem;
    height: 30rem;
    background-image: url(../img/media.jpg);
    background-size: cover;
    display: none; }
    @media (min-width: 900px) {
      .profile__media {
        display: block; } }
  .profile__activities {
    padding: 0 2.5rem;
    display: none; }
    @media (min-width: 900px) {
      .profile__activities {
        display: block; } }
  .profile__h2 {
    margin: 3rem 0 1rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: .1rem; }
  .profile__activity-list {
    color: #6c94b8;
    margin-bottom: 5.5rem; }
  .profile__activity-item {
    height: 2.8rem;
    line-height: 2.8rem;
    padding-left: 2.5rem;
    position: relative; }
    .profile__activity-item a {
      text-decoration: underline; }
    .profile__activity-item a:hover {
      text-decoration: none; }
    .profile__activity-item::before {
      content: '';
      display: block;
      width: 1.6rem;
      height: 1.5rem;
      position: absolute;
      left: 0;
      top: .7rem;
      background-size: cover; }
  .profile__activity-item-fol::before {
    background-image: url(../img/act-fol.png); }
  .profile__activity-item-rep::before {
    background-image: url(../img/act-rep.png); }
  .profile__activity-item-ret::before {
    background-image: url(../img/act-ret.png); }
  .profile__activity-item-fav::before {
    background-image: url(../img/act-fav.png); }

.main {
  width: 100%; }
  @media (min-width: 900px) {
    .main {
      width: auto;
      flex-grow: 1;
      padding: 4rem; } }
  .main__nav {
    background: #fffbf5; }
  .main__nav-list {
    display: flex; }
  .main__nav-item {
    flex: 0 0 25%; }
  .main__nav-link {
    display: flex;
    height: 6.4rem;
    flex-direction: column;
    justify-content: center;
    position: relative; }
    .main__nav-link_active::after {
      content: '';
      position: absolute;
      width: 100%;
      height: .4rem;
      background: #80a8cc;
      bottom: 0;
      left: 0; }
    @media (min-width: 900px) {
      .main__nav-link {
        height: 8rem; }
        .main__nav-link_active::after {
          height: .5rem; } }
  .main__nav-link > * {
    display: block;
    text-align: center; }
  .main__nav-title {
    text-transform: uppercase;
    color: #c6c1b0;
    font-size: 1.1rem; }
    @media (min-width: 700px) {
      .main__nav-title {
        font-size: 1.3rem; } }
  .main__nav-title > * {
    text-decoration: none; }
  @media (min-width: 700px) {
    .main__nav-title-small {
      display: none; } }
  .main__nav-title-large {
    display: none; }
    @media (min-width: 700px) {
      .main__nav-title-large {
        display: inline; } }
  .main__nav-counter {
    font-weight: 500;
    color: #605e58;
    font-size: 1.6rem; }
  .main__tweets {
    background: #fffbf5;
    border-top: 0.1rem solid #e3dfd8; }
    @media (min-width: 900px) {
      .main__tweets {
        border-top: none;
        margin-top: 3rem; } }

.extra {
  display: none;
  padding: 0 3.5rem;
  width: 30rem;
  background: #fffbf5; }
  @media (min-width: 1200px) {
    .extra {
      display: block; } }
  .extra__h2 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    margin-top: 4rem; }
  .extra__h2-link {
    text-transform: none;
    float: right; }
    .extra__h2-link:hover {
      text-decoration: underline; }
  .extra__trend-list {
    margin-top: 1.5rem; }
  .extra__trend-item {
    height: 2.2rem;
    line-height: 2.2rem; }
  .extra__trend-link:hover {
    text-decoration: underline; }

.nav-left {
  flex: 0 0 80%; }
  @media (min-width: 700px) {
    .nav-left {
      flex-basis: 30rem; } }
  .nav-left__list {
    display: flex; }
  .nav-left__item {
    flex: 0 0 25%;
    height: 6.4rem;
    display: flex; }
    @media (min-width: 900px) {
      .nav-left__item {
        height: 8rem; }
        .nav-left__item:first-child {
          border-right: 0.1rem solid #f2eee8; } }
  .nav-left__link {
    width: 4rem;
    height: 4rem;
    margin: auto;
    display: block;
    border-radius: 100%;
    border: 0.1rem solid #e3dfd8;
    background-size: cover; }
    .nav-left__link_tweet {
      border: none;
      background-image: url(../img/tweet.png); }
    .nav-left__link_bell {
      background-image: url(../img/bell.png); }
    .nav-left__link_msg {
      background-image: url(../img/msg.png); }
    .nav-left__link_hash {
      background-image: url(../img/hash.png); }

.logo {
  display: none; }
  @media (min-width: 700px) {
    .logo {
      flex-grow: 1;
      display: flex; } }
  .logo__link {
    width: 3rem;
    height: 3rem;
    display: block;
    margin: auto;
    background-image: url(../img/logo.png);
    background-size: cover; }
    @media (min-width: 900px) {
      .logo__link {
        width: 4rem;
        height: 4rem; } }

.nav-right {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 700px) {
    .nav-right {
      flex-basis: 30rem;
      justify-content: space-between; } }
  .nav-right__search {
    width: 20rem;
    flex-grow: 1;
    display: none;
    position: relative; }
    @media (min-width: 700px) {
      .nav-right__search {
        display: block; } }
  .nav-right__search-input {
    width: 100%;
    height: 4rem;
    border-radius: 4rem;
    border: 0.1rem solid #e3dfd8;
    background: transparent;
    padding: 0 3.5rem 0 1.5rem;
    outline: none;
    font-size: 1.4rem;
    color: #605e58;
    transition: all .2s ease-in-out; }
    .nav-right__search-input:focus {
      border: 0.2rem solid #80a8cc; }
  .nav-right__search-btn {
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url(../img/search.png);
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    right: .6rem;
    top: .6rem; }
  .nav-right__ava {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-image: url(../img/ava.png);
    background-size: cover; }
    @media (min-width: 700px) {
      .nav-right__ava {
        margin-left: 2rem;
        margin-right: 2.5rem; } }

.follow__user {
  height: 4rem;
  padding: 0 2.5rem 0 6rem;
  margin-top: 2rem;
  position: relative; }

.follow__link {
  display: inline-block;
  position: relative;
  color: #605e58; }
  .follow__link:hover {
    text-decoration: underline;
    color: #80a8cc; }

.follow__img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  position: absolute;
  left: -6rem;
  top: 0; }

.follow__bio {
  color: #c6c1b0;
  display: block; }

.follow__btn {
  display: inline-block;
  width: 1.9rem;
  height: 1.9rem;
  border: 0.1rem solid #e3dfd8;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .2s ease-in-out; }
  .follow__btn:hover {
    border-color: #c6c1b0; }
  .follow__btn::before, .follow__btn::after {
    content: '';
    background: #605e58;
    position: absolute; }
  .follow__btn::before {
    width: .1rem;
    height: .7rem;
    left: .8rem;
    top: .5rem; }
  .follow__btn::after {
    width: .7rem;
    height: .1rem;
    left: .5rem;
    top: .8rem; }

.tweet {
  padding: 3rem;
  border-top: 0.1rem solid #e3dfd8; }
  .tweet:first-child {
    border-top: none; }
  .tweet__content {
    padding-left: 6rem; }
  .tweet__links {
    height: 3rem;
    display: flex;
    justify-content: space-between; }
  .tweet__link-user {
    position: relative; }
  .tweet__ava {
    position: absolute;
    width: 4rem;
    height: 4rem;
    left: -6rem;
    top: 0;
    border-radius: 100%;
    background-size: cover; }
  .tweet__fullname {
    color: #605e58; }
  .tweet__link-user:hover .tweet__fullname {
    color: #80a8cc;
    text-decoration: underline; }
  .tweet__username {
    color: #c6c1b0; }
  .tweet__link-time {
    color: #c6c1b0; }
    .tweet__link-time:hover {
      text-decoration: underline; }
  .tweet__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
  .tweet__actions-left, .tweet__actions-right {
    height: 1.5rem;
    display: flex; }
  .tweet__action {
    background-size: cover;
    margin-right: 1.9rem; }
    .tweet__action:last-child {
      margin-right: 0; }
    .tweet__action_reply {
      width: 1.6rem;
      background-image: url(../img/action-reply.png); }
    .tweet__action_fave {
      width: 1.5rem;
      background-image: url(../img/action-fave.png); }
    .tweet__action_retweet {
      width: 1.5rem;
      background-image: url(../img/action-retweet.png); }
    .tweet__action_more {
      width: 1.3rem;
      background-image: url(../img/action-more.png); }
    .tweet__action_full {
      width: 1.3rem;
      background-image: url(../img/action-full.png); }
