.input {
	text-align: center;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	border: none;
	font-size: inherit;
	font-family: inherit;

  &:focus {
    outline: none;
  }

  &_big {
    height: 100%;
    line-height: 100%;
  }
}
