.table {
  width: 100%;
}
.table__head {
  display: flex;
}
.table__column-name {
  text-align: center;
  padding: 15px 0;
  flex: 0 0 20%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  background: #f4f4f4;
}
.table__body {
  display: flex;
}
.table__days {
  flex: 0 0 80%;
  border-right: 1px solid black;
}
.table__day {
  display: flex;
  border-bottom: 1px solid black;
}
.table__day-name {
  flex: 0 0 25%;
  border-right: 1px solid black;
}
.table__records {
  flex: 0 0 50%;
  border-right: 1px solid black;
}
.table__record {
  display: flex;
}
.table__record:not(:last-child) {
  border-bottom: 1px solid black;
}
.table__quantity, .table__price {
  flex: 0 0 50%;
}
.table__quantity {
  border-right: 1px solid black;
}
.table__daily-revenue {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__total-revenue {
  flex: 0 0 20%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table__new-day, .table__new-record {
  margin: auto;
  padding: 10px 0;
}
.table__new-day {
  padding: 20px 0;
}
.table__input {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  font-size: inherit;
  font-family: inherit;
}
.table__input:focus {
  outline: none;
}
.table__input_big {
  height: 100%;
  line-height: 100%;
}
