.table {
	width: 100%;
	border-top: 0.1rem solid $color-grey-dark;
	border-bottom: 0.1rem solid $color-grey-dark;

	&__head {
		display: flex;
		border-bottom: 0.1rem solid $color-grey-dark;
		background: $color-grey;
	}

	&__column-name {
		text-align: center;
		padding: 1.5rem 0;
		flex: 0 0 20%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 1.4rem;

		@media (min-width: $width-for-bigger-fonts) {
			font-size: 1.8rem;
		}
	}

	&__footer {
		padding: 0 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (min-width: $width-for-bigger-fonts) {
			font-size: 1.8rem;
		}
	}

	&__new-day {
		padding: 4rem 0;
		flex: 0 0 100%;
		text-align: center;
	}

	&_has-days &__new-day {
		flex-basis: auto;
	}

	&__total-revenue {
		position: relative;
		top: -0.2rem;
		display: none;
	}

	&_has-days &__total-revenue {
		display: block;
	}

	&__total-revenue-number {
		padding: 0.75rem;
		background: $color-grey;
		margin-left: 0.5rem;
		border-radius: 0.5rem;
	}

	&__clear-days {
		padding: 4rem 0;
		display: none;
	}

	&_has-days &__clear-days {
		display: block;
	}

	&__clear-days-link {
		color: $color-red;
		border-bottom-color: rgba($color-red, 0.25);

		&:hover {
			border-bottom-color: rgba($color-red, 0.75);
		}
	}
}
