.table {
	width: 100%;
	border-top: .1rem solid $color-grey-dark;
	border-bottom: .1rem solid $color-grey-dark;
  
	&__head {
	  display: flex;
	  border-bottom: .1rem solid $color-grey-dark;
	  background: $color-grey;
	}
	
	&__column-name {
	  text-align: center;
	  padding: 1.5rem 0;
	  flex: 0 0 20%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  font-size: 1.4rem;

	  @media (min-width: $width-for-bigger-fonts) {
	    font-size: 1.8rem;
	  }
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		
		@media (min-width: $width-for-bigger-fonts) {
			font-size: 1.8rem;
		}
	}

	&__new-day {
		padding: 4rem 0 4rem 2rem;
	}

	&__total-revenue {
		padding-right: 2rem;
	}

	&__total-revenue-number {
		padding: .75rem;
		background: $color-grey;
		margin-left: .5rem;
		border-radius: .5rem;
	}
}
