/*******************************************************************************
 *** Reset
 ******************************************************************************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Lora', serif;
  font-size: 1.6rem;
  color: #222;
}


/*******************************************************************************
 *** Header
 ******************************************************************************/

.header {
  padding: 3rem 0 4rem;
  text-align: center;
}

.header__languages {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.header__language {
  padding: .5rem 1.5rem;
}

.header__language_active {
  background: #f4f4f4;
}

.header__link {
  display: inline-block;
  color: #222;
  text-decoration: none;
  border-bottom: .1rem dashed #222;
  padding-bottom: .2rem;
}

.header__link:hover {
  border-bottom: .1rem solid #222;
}

.header__language_active .header__link {
  border-bottom: none;
  cursor: default;
}

.header__title {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6rem;
  margin-top: 1rem;
}

.header__title::after {
  content: '💰';
}


/*******************************************************************************
 *** Table
 ******************************************************************************/

.table {
  border-collapse: collapse;
  width: 100%;
}

.table__cell {
  border: .1rem solid #ccc;
  width: 20%;
  text-align: center;
  padding: 1rem 0;
}

.table__cell_head {
  font-weight: 400;
  padding: 1rem 0;
  background: #f4f4f4;
}
