/*******************************************************************************
 *** Reset
 ******************************************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*******************************************************************************
 *** Clock
 ******************************************************************************/

.clock {
  width: 50vmin;
  height: 50vmin;
  background: #eee;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*******************************************************************************
 *** Clock layer
 ******************************************************************************/

.clock__layer {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.clock__layer_1  { transform: rotate(30deg);  }
.clock__layer_2  { transform: rotate(60deg);  }
.clock__layer_3  { transform: rotate(90deg);  }
.clock__layer_4  { transform: rotate(120deg); }
.clock__layer_5  { transform: rotate(150deg); }
.clock__layer_6  { transform: rotate(180deg); }
.clock__layer_7  { transform: rotate(210deg); }
.clock__layer_8  { transform: rotate(240deg); }
.clock__layer_9  { transform: rotate(270deg); }
.clock__layer_10 { transform: rotate(300deg); }
.clock__layer_11 { transform: rotate(330deg); }

.clock__layer_seconds {
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(.42,1.06,.71,1.5);
}


/*******************************************************************************
 *** Clock dot
 ******************************************************************************/

.clock__dot {
  position: absolute;
  left: 50%;
  top: 5%;
  width: 1%;
  height: 1%;
  background: #aaa;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}


/*******************************************************************************
 *** Clock center
 ******************************************************************************/

.clock__center {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

.clock__center_hours-minutes {
  width: 7%;
  height: 7%;
  background: #aaa;
}

.clock__center_seconds {
  width: 3%;
  height: 3%;
  background: red;
}


/*******************************************************************************
 *** Clock hand
 ******************************************************************************/

.clock__hand {
  position: absolute;
  width: 3%;
  height: 40%;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  background: #aaa;
}

.clock__hand_hours {
  height: 25%;
  top: 25%;
}

.clock__hand_seconds {
  width: 1%;
  background: red;
}
