* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock {
  width: 50vmin;
  height: 50vmin;
  background: #eee;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock-layer {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.clock-layer i {
  display: block;
  position: absolute;
}

.clock-layer.dot i {
  left: 50%;
  top: 5%;
  width: 4px;
  height: 4px;
  background: #aaa;
  border-radius: 100%;
  transform: translate(-2px, -2px);
}

.clock-layer.center-hours-minutes {
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  background: #aaa;
  border-radius: 100%;
  transform: translate(-8px, -8px);
}

.clock-layer.center-seconds {
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 100%;
  transform: translate(-4px, -4px);
}

.clock-layer.seconds i {
  left: 50%;
  top: 10%;
  width: 2px;
  height: 40%;
  background: red;
  transform: translate(-1px);
}

.clock-layer.minutes i {
  left: 50%;
  top: 10%;
  width: 8px;
  height: 40%;
  background: #aaa;
  transform: translate(-4px);
}

.clock-layer.hours i {
  left: 50%;
  top: 25%;
  width: 8px;
  height: 25%;
  background: #aaa;
  transform: translate(-4px);
}

.seconds {
  transition-duration: .1s;
  transition-timing-function: cubic-bezier(.42,1.06,.71,1.5);
}
