@mixin if-screen($device) {
  @if $device == small {
    @media (min-width: 700px) { @content; };
  }
  @if $device == medium {
    @media (min-width: 900px) { @content; };
  }
  @if $device == large {
    @media (min-width: 1200px) { @content; };
  }
  @if $device == extralarge {
    @media (min-width: 1500px) { @content; };
  }
}

@mixin h2 {
  text-transform: uppercase;
  font-weight: $font-weight-normal;
  font-size: $font-size-normal;
  letter-spacing: .1rem;
}
