*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $color-orange;
  color: $color-black;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-normal;
  line-height: 1.45;
  letter-spacing: .05rem;
}

::-webkit-input-placeholder {
  color: $color-grey-dark;
}

a {
  color: $color-blue;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}
