$color-blue: #80a8cc;
$color-blue-dark: #6c94b8;
$color-black: #605e58;
$color-grey-dark: #c6c1b0;
$color-grey-medium: #e3dfd8;
$color-grey-light: #f2eee8;
$color-white: #fffbf5;
$color-orange: #f5cea6;
